.scel-uploader .ant-upload {
  margin: 0;
  height: auto;
}

.scel-list-container {
  border: 1px dotted lightgray;
  box-sizing: border-box;

  flex: 1;
}

.scel-list-item {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.scel-list-item:hover {
  background: lightgray;
}
